# HW 1
## by Alfred Nick Tinsley


For homework 1 I will be exploring Hockey data from https://www.kaggle.com/open-source-sports/professional-hockey-database

The dataset that I will use is the Goalies.csv

for cleaning i had to open up the .csv file in excel and remove column X, some rows were showing blank data in an extra column.  Ex there is 23 attributes, but some rows had an extra ','

About this file
* playerID: Player ID
* year: Year (2005-06 listed as "2005")
* stint: Stint (order of appearance in a season)
* tmID: Team ID
* lgID: League ID
* GP: Games played
* Min: Minutes
* W: Wins
* L: Losses
* T/OL: Ties / overtime losses
* ENG: Empty net goals
* SHO: Shutouts
* GA: Goals against
* SA: Shots against
* PostGP: Postseason games played
* PostMin: Postseason minutes
* PostW: Postseason wins
* PostL: Postseason losses
* PostT: Postseason ties
* PostENG: Postseason empty net goals
* PostSHO: Postseason shutouts
* PostGA: Postseason goals against
* PostSA: Postseason shots against

In [3]:
#import packages
import pandas as pd
import numpy as np
import os

In [16]:
df = pd.read_csv("Goalies.csv", delimiter=",")

In [17]:
#look at the head of the data
df.head()

,playerID,year,stint,tmID,lgID,GP,Min,W,L,T/OL,...,SA,PostGP,PostMin,PostW,PostL,PostT,PostENG,PostSHO,PostGA,PostSA
0,abbotge01,1943,1,BOS,NHL,1.0,60.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,abrahch01,1974,1,NEW,WHA,16.0,870.0,8.0,6.0,1.0,...,504.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,abrahch01,1975,1,NEW,WHA,41.0,2385.0,18.0,18.0,2.0,...,1221.0,1.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
3,abrahch01,1976,1,NEW,WHA,45.0,2484.0,15.0,22.0,4.0,...,1438.0,2.0,90.0,0.0,1.0,NaN,0.0,0.0,5.0,51.0
4,adamsjo02,1972,1,BOS,NHL,14.0,780.0,9.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

I noticed a bunch of NaN values,these should be numeric 0.0, will cleand data next

In [18]:
df.fillna(0.0)

,playerID,year,stint,tmID,lgID,GP,Min,W,L,T/OL,...,SA,PostGP,PostMin,PostW,PostL,PostT,PostENG,PostSHO,PostGA,PostSA
0,abbotge01,1943,1,BOS,NHL,1.0,60.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,abrahch01,1974,1,NEW,WHA,16.0,870.0,8.0,6.0,1.0,...,504.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,abrahch01,1975,1,NEW,WHA,41.0,2385.0,18.0,18.0,2.0,...,1221.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,abrahch01,1976,1,NEW,WHA,45.0,2484.0,15.0,22.0,4.0,...,1438.0,2.0,90.0,0.0,1.0,0.0,0.0,0.0,5.0,51.0
4,adamsjo02,1972,1,BOS,NHL,14.0,780.0,9.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4263,youngwe01,1994,1,PIT,NHL,10.0,497.0,3.0,6.0,0.0,...,255.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4264,zabama01,2009,1,NYR,NHL,1.0,34.0,0.0,0.0,0.0,...,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4265,zaniemi01,1984,1,EDM,NHL,3.0,185.0,1.0,1.0,1.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4266,zimmely01,1975,1,DOT,WHA,8.0,495.0,2.0,6.0,0.0,...,301.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4267,zimmely01,1977,1,HOU,WHA,20.0,1166.0,10.0,9.0,0.0,...,641.0,4.0,131.0,1.0,2.0,0.0,0.0,0.0,8.0,0.0

In [54]:
## build regseson subset, at this point i want to see goalie stats during regular season starting in the year
columns =["playerID", 'stint', 'tmID', 'GP', 'Min', 'W', 'L', 'T/OL', 'ENG', 'SHO', 'GA', 'SA']
regseason = df.loc[(df['year']>=2000) & (df['lgID']== 'NHL'), columns]
regseason

,playerID,stint,tmID,GP,Min,W,L,T/OL,ENG,SHO,GA,SA
6,aebisda01,1,COL,26.0,1393.0,12.0,7.0,3.0,3.0,3.0,52.0,538.0
7,aebisda01,1,COL,21.0,1184.0,13.0,6.0,0.0,4.0,2.0,37.0,538.0
8,aebisda01,1,COL,22.0,1235.0,7.0,12.0,0.0,4.0,1.0,50.0,593.0
9,aebisda01,1,COL,62.0,3703.0,32.0,19.0,9.0,5.0,4.0,129.0,1703.0
10,aebisda01,1,COL,43.0,2477.0,25.0,14.0,2.0,2.0,3.0,123.0,1233.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4146,whitmka01,1,CAL,1.0,58.0,0.0,1.0,0.0,0.0,0.0,3.0,21.0
4250,yeatsma01,1,WAS,5.0,258.0,1.0,3.0,0.0,0.0,0.0,13.0,141.0
4251,yeremvi01,1,NYR,4.0,212.0,0.0,4.0,0.0,0.0,0.0,16.0,104.0
4252,yorkal01,1,CBS,11.0,417.0,3.0,2.0,0.0,2.0,0.0,16.0,199.0
4264,zabama01,1,NYR,1.0,34.0,0.0,0.0,0.0,0.0,0.0,2.0,16.0

In [56]:
## i want to see saves, so it would be SA = shots against - GA Goals against to get the amount of saves a goalie made
regseason['saves'] = regseason['SA'] - regseason['GA']

In [57]:
## organize regseason data, group by year, team and return top winning goalies
# df['INCOME'].groupby([df['homeowner dummy'],df['AVGGIFT'],df['gender dummy']]).mean()

by_player = regseason.groupby([regseason["playerID"],regseason["tmID"]]).mean()

by_player

                stint         GP          Min     W          L  T/OL  ENG  \
playerID  tmID
aebisda01 COL     1.0  34.800000  1998.400000  17.8  11.600000   2.8  3.6
          MTL     1.5  19.500000  1089.000000   8.5   7.500000   1.5  2.5
          PHO     1.0   1.000000    60.000000   0.0   1.000000   0.0  0.0
allenbr01 STL     1.0        NaN          NaN   NaN        NaN   NaN  NaN
andercr01 CHI     1.0  18.666667  1009.333333   4.0   9.666667   2.0  2.0
...               ...        ...          ...   ...        ...   ...  ...
whitmka01 CAL     1.0   1.000000    58.000000   0.0   1.000000   0.0  0.0
yeatsma01 WAS     1.0   5.000000   258.000000   1.0   3.000000   0.0  0.0
yeremvi01 NYR     1.0   4.000000   212.000000   0.0   4.000000   0.0  0.0
yorkal01  CBS     1.0  11.000000   417.000000   3.0   2.000000   0.0  2.0
zabama01  NYR     1.0   1.000000    34.000000   0.0   0.000000   0.0  0.0

                     SHO         GA          SA  saves
playerID  tmID
aebisda01 COL   2.600000  78.200000  921.000000  842.8
          MTL   0.000000  59.500000  584.500000  525.0
          PHO   0.000000   3.000000   33.000000   30.0
allenbr01 STL        NaN        NaN         NaN    NaN
andercr01 CHI   0.666667  53.666667  494.666667  441.0
...                  ...        ...         ...    ...
whitmka01 CAL   0.000000   3.000000   21.000000   18.0
yeatsma01 WAS   0.000000  13.000000  141.000000  128.0
yeremvi01 NYR   0.000000  16.000000  104.000000   88.0
yorkal01  CBS   0.000000  16.000000  199.000000  183.0
zabama01  NYR   0.000000   2.000000   16.000000   14.0

[481 rows x 11 columns]